<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <style>

    html, body {
        height: 100%;
        margin: 0;
      }
        #processedImage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90vw;
        max-height: 90vh;
        }

        h1 {
            text-align:center;
        }
    </style>

    <title>Solution</title>
  </head>
  <body>
    <h1>Processed Image</h1>
    <img id="processedImage" src="{{ image_url }}" />
  </body>
</html>
